<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8"/>
  <title>Angular UI ~ UI.Sortable Doc</title>

  <!-- Le css -->
  <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="assets/css/prettify.css"/>
  <link rel="stylesheet" type="text/css" href="assets/css/style.css"/>

      <link rel="stylesheet" type="text/css" href="vendor/jquery-ui.css"/>
    <link rel="stylesheet" type="text/css" href="demo/demo.css"/>


</head>

<body>

<!-- Le navbar
================================================== -->
<div class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <div class="navbar-header">
      </div>
      <ul class="nav navbar-nav">
        <li>
          <a href="" class="navbar-brand">UI.Sortable</a>
        </li>
        <li class="pull-right">
          <a href="http://angular-ui.github.io">by AngularUI</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- Le header
================================================== -->
<header class="bs-header">
  <div class="container">

    <h1>UI.Sortable</h1>

    <p>This directive allows you to jQueryUI Sortable.</p>

    <p>
      <a class="btn btn-outline-inverse btn-lg" href="https://github.com/angular-ui/ui-sortable">Code on Github</a>
      <a class="btn btn-outline-inverse btn-lg" href="https://github.com/angular-ui/ui-sortable/releases/tag/v0.13.2">
        <i class="glyphicon glyphicon-download-alt"></i> Download <small>(0.13.2)</small>
     </a>
    </p>
  </div>
  <div class="bs-social container">
      <ul class="bs-social-buttons list-inline list-unstyled">
          <li>
              <iframe
            src="http://ghbtns.com/github-btn.html?user=angular-ui&amp;repo=ui-sortable&amp;type=watch&amp;count=true"
            allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
          </li>
          <li>
             <iframe
            src="http://ghbtns.com/github-btn.html?user=angular-ui&amp;repo=ui-sortable&amp;type=fork&amp;count=true"
            allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>
          </li>
          <li>
              <a href="https://twitter.com/share" class="twitter-share-button"
                 data-hashtags="angularjs">Tweet</a>
              <script>!function (d, s, id) {
                  var js, fjs = d.getElementsByTagName(s)[0];
                  if (!d.getElementById(id)) {
                      js = d.createElement(s);
                      js.id = id;
                      js.src = "//platform.twitter.com/widgets.js";
                      fjs.parentNode.insertBefore(js, fjs);
                  }
              }(document, "script", "twitter-wjs");</script>
          </li>
          <li>
              <!-- Place this tag where you want the +1 button to render. -->
              <div class="g-plusone" data-size="medium"></div>

              <!-- Place this tag after the last +1 button tag. -->
              <script type="text/javascript">
                  (function () {
                      var po = document.createElement('script');
                      po.type = 'text/javascript';
                      po.async = true;
                      po.src = 'https://apis.google.com/js/plusone.js';
                      var s = document.getElementsByTagName('script')[0];
                      s.parentNode.insertBefore(po, s);
                  })();
              </script>
          </li>
      </ul>
  </div>
</header>

<!-- Le main
================================================== -->
<div class="container">

  <section ng-app="sortableApp">
  <h1>Sortable items</h1>
  <div ng-controller="sortableController" class="section row">
    <div class="col-sm-offset-2 col-sm-4">
      <ul ui-sortable="sortableOptions" ng-model="list" class="list">
        <li ng-repeat="item in list" class="item">{{item.text}}</li>
      </ul>
    </div>
    <div class="col-sm-4">
      <ul class="list logList">
        <li ng-repeat="entry in sortingLog" class="logItem">{{entry.Text}}</li>
      </ul>
    </div>
  </div>

  <h1>Connected items</h1>
  <div ng-controller="connectedController" class="section row connectedItemsExample">
    <div class="col-sm-offset-2 col-sm-4">
      <ul ui-sortable="sortableOptions" ng-model="leftArray" class="list">
        <li ng-repeat="item in leftArray" class="item">{{item.text}}</li>
      </ul>
    </div>
    <div class="col-sm-4">
      <ul ui-sortable="sortableOptions" ng-model="rightArray" class="list">
        <li ng-repeat="item in rightArray" class="item">{{item.text}}</li>
      </ul>
    </div>
  </div>
</section>


</div>

<!-- Le javascript
================================================== -->
<script src="vendor/jquery.js"></script>
<script src="assets/vendor/prettify.js"></script>
<script src="assets/vendor/angular.min.js"></script>
<script src="assets/vendor/ui-bootstrap-tpls.min.js"></script>
<script src="core/prettifyDirective.js"></script>
<script src="core/plunker.js"></script>
<script src="vendor/jquery-ui.js"></script>
<script src="dist/sortable.js"></script>


<script>
  
var myapp = angular.module('sortableApp', ['ui.sortable']);

myapp.buildArray = function(name, size) {
  var i, array = [];
  for (i = 1; i <= size; i++){
    array.push({
      text: name + ' ' + i ,
      value: i
    });
  }

  return array;
};

myapp.controller('sortableController', function ($scope) {
  'use strict';

  $scope.list = myapp.buildArray('Item', 5);

  $scope.sortingLog = [];

  $scope.sortableOptions = {
    // called after a node is dropped
    stop: function(e, ui) {
      var logEntry = {
        ID: $scope.sortingLog.length + 1,
        Text: 'Moved element: ' + ui.item.scope().item.text
      };
      $scope.sortingLog.push(logEntry);
    }
  };
});

myapp.controller('connectedController', function ($scope) {
  $scope.leftArray = myapp.buildArray('Left', 5);
  $scope.rightArray = myapp.buildArray('Right', 7);
  $scope.sortableOptions = {
    connectWith: '.connectedItemsExample .list'
  };
});

</script>

</body>

</html>
