<section ng-app="sortableApp">
  <h1>Sortable items</h1>
  <div ng-controller="sortableController" class="section row">
    <div class="col-sm-offset-2 col-sm-4">
      <ul ui-sortable="sortableOptions" ng-model="list" class="list">
        <li ng-repeat="item in list" class="item">{{item.text}}</li>
      </ul>
    </div>
    <div class="col-sm-4">
      <ul class="list logList">
        <li ng-repeat="entry in sortingLog" class="logItem">{{entry.Text}}</li>
      </ul>
    </div>
  </div>

  <h1>Connected items</h1>
  <div ng-controller="connectedController" class="section row connectedItemsExample">
    <div class="col-sm-offset-2 col-sm-4">
      <ul ui-sortable="sortableOptions" ng-model="leftArray" class="list">
        <li ng-repeat="item in leftArray" class="item">{{item.text}}</li>
      </ul>
    </div>
    <div class="col-sm-4">
      <ul ui-sortable="sortableOptions" ng-model="rightArray" class="list">
        <li ng-repeat="item in rightArray" class="item">{{item.text}}</li>
      </ul>
    </div>
  </div>
</section>
