.SortableItemsSection {
    margin-bottom: 15px;
}

ul {
    float: left;
    padding: 7px;
    margin: 2px 7px;
    border: 1px solid #000;
    border-radius: 9px;
    list-style: none outside none;
}

li {
    padding: 3px 7px;
    margin: 3px 0;
    border: 1px solid #444;
    border-radius: 3px;
    background-color: #EA8A8A;

    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
    cursor: move;
}

.clear {
    clear: both;
}
